@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: .8; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.box {
  display: -webkit-box !important;
  display: box !important;
  position: relative; }

.box-fh {
  width: 100%; }

.box-fv {
  height: 100%; }

.box-f1 {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1; }

.box-ac {
  -webkit-box-align: center;
  box-align: center; }

.box-pc {
  -webkit-box-pack: center;
  box-pack: center; }

.box-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical; }

.box-rev {
  -webkit-box-direction: reverse;
  box-direction: reverse; }

.bc-img {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.of-hid {
  overflow: hidden; }

.hid {
  display: none !important; }

.ba {
  border: 1px solid; }

.bb {
  border-bottom: 1px solid; }

.tc-fff {
  color: #FFF; }

.font-w900 {
  font-weight: 900; }

.fons-48 {
  font-size: 1.5rem; }

.fons-54 {
  font-size: 1.6875rem; }

.fons-64 {
  font-size: 2rem; }

.fons-96 {
  font-size: 3rem; }

.fons-140 {
  font-size: 4.375rem; }

.mag-t20 {
  margin-top: 0.625rem; }

.mag-t36 {
  margin-top: 1.125rem; }

.mag-t48 {
  margin-top: 1.5rem; }

.mag-t64 {
  margin-top: 2rem; }

.mag-t90 {
  margin-top: 2.8125rem; }

.mag-t130 {
  margin-top: 4.0625rem; }

.mag-t290 {
  margin-top: 9rem; }

.bor-a {
  border: 1px solid; }

/**
加载动画
*/
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 1s 0.16s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 1s 0.16s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 1s 0.32s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 1s 0.32s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 1s 0.48s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 1s 0.48s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div {
  background-color: #00549c;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: .5rem;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block; }
